
.owl-frontend {
  background-color: #e0e9fb;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  color: black;
  font-family: Tahoma, sans-serif;
}

.logo {
  height: 100%;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 75px;
  flex-direction: row;
}

.name {
  font-size: xxx-large;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin-left: 200px;
}

.graph-box {
  border-style: solid;
  border-width: 100%;
  height: 600px
}

.header {width: 100%;
height: 100px;
display: flex;
background-color: grey;
flex-direction: row;
align-items: bottom;
position: relative
}

.money-column-type {
  text-transform: capitalize;
  font-size: xxx-large;
  font-weight: bold;
  background: -webkit-linear-gradient(139deg, rgba(0,0,0,1) 0%, rgba(37,60,190,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.money-item {
  opacity: 0.25;
  background-color: #b8cdf9;}

.delete-warning {background-color: red;
  text-align: center;
  border-radius: 15px;
 }

 .inactive {background-color:gray;
  border-radius: 15px;
}

.money-item-title
 {
  font-weight: bold;
  font-size: large;
  overflow-wrap: normal;
}

.money-item-amount
{ font-weight: bold;
  font-size: large;
  opacity: 75%;
  flex-wrap: wrap
}

.money-item-info {
  opacity: 50%
}

div.col-1, div.col-2, div.col-3, div.col-4, div.col-5, div.col-6 {
  padding-left: 0;
  padding-right: 0;
  flex-wrap: wrap
}

form {margin-top: 10px;
  margin-bottom: 20px;
}

.dollar {
  position: absolute;
  z-index: 1;
  margin-left: 4px;
  margin-top: 2px}

input {
  display: inline-block;
  width: 10em;
  position: relative;
  top: -3em;
  height: 29px;
}

label {
  display: inline-block;
  width: 10em;
  padding-top: 1.5em;
  padding-bottom: 0em;
}

label.indefinite {
  display: inline-block;
  width: 5.5em;
  position: relative;
  top: -3em;
}

select { display: inline-block;
  width: 10em;
  position: relative;
  top: -3em;
  height: 29px;
}

.checkbox {
  display: inline-block;
  width: 2em;
  position: relative;
  top: -3em;
  height: 16px
}

.submit-button {
  display: inline-block;
  width: 5em;
  position: relative;
  top: -3em;
  border-radius: 5px;
  background-color:  rgba(37,60,190,1);
  color: white;
  transition-duration: 0.5s
  
}

.submit-button:hover {
  background-color: white;
  color: black
}

.item-checkbox {
  width: 2em;
  height: 16px;
  top: 0em;
}

.toolbox {
  position: relative;
  top: .25em;
  transition-duration: 0.5s
}

.tool, .trash{transition-duration: 0.2s}
.tool:hover {color: rgba(37,60,190,1)}
.trash:hover {color: red}

.startdate {
  position: relative;
  z-index: 1;
  margin-left: 4px;
  margin-top: 2px;
  width: 6em;
}

.axis-dropdown{
  position: static
}





